# See https://help.github.com/ignore-files/ for more about ignoring files.

# security
server/credentials.json

# dependencies
/node_modules

# testing
/coverage


# misc
.idea
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

server/output/
