@import url("https://fonts.googleapis.com/css?family=Monofett|Righteous|Open+Sans+Condensed:300i");
.App {
  position: relative;
  background-color: black; }
  .App .App-Background {
    background-color: #462066;
    max-width: 100vw;
    min-height: 100vh; }
    .App .App-Background .App-Banner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.3);
      text-align: center;
      text-shadow: 0 0 5px black;
      width: 75%;
      padding: 10% 12.5% 10% 12.5%; }
      .App .App-Background .App-Banner h1 {
        font-family: "Righteous", cursive;
        font-size: 4em;
        color: #ffb85f;
        padding: 0; }
        @media screen and (max-width: 800px) {
          .App .App-Background .App-Banner h1 {
            font-size: 1.75em; } }
      .App .App-Background .App-Banner h2 {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 1.5em;
        font-style: italic;
        color: #00aaa0; }
      .App .App-Background .App-Banner .App-Buttons a svg {
        color: #8ed2c9; }
        .App .App-Background .App-Banner .App-Buttons a svg :hover {
          color: #ff7a5a; }
