.home-button {
  background-color: #462066;
  margin-bottom: 4vh; }
  .home-button a {
    size: 5em;
    text-decoration: none;
    text-align: center;
    text-shadow: none;
    color: #8ed2c9; }
  .home-button :hover {
    background-color: #ffb85f;
    color: #462066; }
  .home-button .home-button-icon {
    padding-top: 3vh; }
  .home-button .home-button-text {
    padding: .5vh 5px 3vh 5px; }
