@import url("https://fonts.googleapis.com/css?family=Poiret+One|Righteous|Open+Sans+Condensed:300");
.chart-area {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #2a2a2b;
  padding: 5vh 5vw 5vh 5vw; }
  .chart-area .dashboard-button {
    width: 30vw; }
    @media screen and (max-width: 800px) {
      .chart-area .dashboard-button {
        width: 90vw; } }
  .chart-area .charts .daily-scatter-chart {
    height: 600px;
    position: relative;
    width: 90vw;
    box-shadow: 0 0 5px 1px #fcf4d9;
    margin-bottom: 5vh; }
    .chart-area .charts .daily-scatter-chart :hover {
      box-shadow: 0 0 5px 1px #ffb85f; }
  .chart-area .charts .daily-breakdown-chart {
    height: 600px;
    position: relative;
    width: 90vw;
    box-shadow: 0 0 5px 1px #fcf4d9;
    margin-bottom: 5vh; }
    .chart-area .charts .daily-breakdown-chart :hover {
      box-shadow: 0 0 5px 1px #ffb85f; }
  .chart-area .charts .daily-sentiment-chart {
    height: 600px;
    position: relative;
    width: 90vw;
    box-shadow: 0 0 5px 1px #fcf4d9;
    margin-bottom: 5vh; }
    .chart-area .charts .daily-sentiment-chart :hover {
      box-shadow: 0 0 5px 1px #ffb85f; }
  .chart-area .charts .word-count-bar-chart {
    height: 600px;
    position: relative;
    width: 90vw;
    box-shadow: 0 0 5px 1px #fcf4d9;
    margin-bottom: 5vh; }
    .chart-area .charts .word-count-bar-chart :hover {
      box-shadow: 0 0 5px 1px #ffb85f; }
