@import url("https://fonts.googleapis.com/css?family=Poiret+One|Righteous|Open+Sans+Condensed:300");
.dashboard-area {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #2a2a2b;
  padding: 5vh 5vw 5vh 5vw; }
  .dashboard-area .charts .daily-scatter-chart {
    height: 600px;
    position: relative;
    width: 90vw;
    box-shadow: 0 0 3px 0px #fcf4d9;
    margin-bottom: 5vh; }
    .dashboard-area .charts .daily-scatter-chart :hover {
      box-shadow: 0 0 3px 0px #ffb85f; }
  .dashboard-area .charts .daily-breakdown-chart {
    height: 600px;
    position: relative;
    width: 90vw;
    box-shadow: 0 0 3px 0px #fcf4d9;
    margin-bottom: 5vh; }
    .dashboard-area .charts .daily-breakdown-chart :hover {
      box-shadow: 0 0 3px 0px #ffb85f; }
  .dashboard-area .charts .daily-sentiment-chart {
    height: 600px;
    position: relative;
    width: 90vw;
    box-shadow: 0 0 3px 0px #fcf4d9;
    margin-bottom: 5vh; }
    .dashboard-area .charts .daily-sentiment-chart :hover {
      box-shadow: 0 0 3px 0px #ffb85f; }
  .dashboard-area .charts .word-count-bar-chart {
    height: 600px;
    position: relative;
    width: 90vw;
    box-shadow: 0 0 3px 0px #fcf4d9;
    margin-bottom: 5vh; }
    .dashboard-area .charts .word-count-bar-chart :hover {
      box-shadow: 0 0 3px 0px #ffb85f; }
