@import url("https://fonts.googleapis.com/css?family=Poiret+One|Righteous|Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=Poiret+One|Righteous|Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=Poiret+One|Righteous|Open+Sans+Condensed:300");
.home {
  position: relative;
  background-color: black; }
  .home .home-background {
    background-color: #462066;
    max-width: 100vw;
    min-height: 100vh;
    padding-top: 5vh; }
    .home .home-background .home-banner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.3);
      text-align: center;
      text-shadow: 0 0 5px black;
      width: 75%;
      padding: 10% 12.5% 10% 12.5%; }
      .home .home-background .home-banner h1 {
        font-family: "Righteous", cursive;
        font-size: 5.2em;
        color: #ffb85f; }
        @media screen and (max-width: 800px) {
          .home .home-background .home-banner h1 {
            font-size: 2.8em; } }
      .home .home-background .home-banner h2 {
        padding: 0;
        font-family: "Poiret One", cursive;
        font-size: 2.45em;
        color: #00bcd4; }
        @media screen and (max-width: 800px) {
          .home .home-background .home-banner h2 {
            font-size: 1.2em; } }
      .home .home-background .home-banner .home-buttons {
        padding-bottom: 10vh; }

.home-button {
  background-color: #462066;
  margin-bottom: 4vh; }
  .home-button a {
    size: 5em;
    text-decoration: none;
    text-align: center;
    text-shadow: none;
    color: #8ed2c9; }
  .home-button :hover {
    background-color: #ffb85f;
    color: #462066; }
  .home-button .home-button-icon {
    padding-top: 3vh; }
  .home-button .home-button-text {
    padding: .5vh 5px 3vh 5px; }

.dashboard-button {
  margin-bottom: 5vh; }

.chart-area {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #2a2a2b;
  padding: 5vh 5vw 5vh 5vw; }
  .chart-area .dashboard-button {
    width: 30vw; }
    @media screen and (max-width: 800px) {
      .chart-area .dashboard-button {
        width: 90vw; } }
  .chart-area .charts .daily-scatter-chart {
    height: 600px;
    position: relative;
    width: 90vw;
    box-shadow: 0 0 5px 1px #fcf4d9;
    margin-bottom: 5vh; }
    .chart-area .charts .daily-scatter-chart :hover {
      box-shadow: 0 0 5px 1px #ffb85f; }
  .chart-area .charts .daily-breakdown-chart {
    height: 600px;
    position: relative;
    width: 90vw;
    box-shadow: 0 0 5px 1px #fcf4d9;
    margin-bottom: 5vh; }
    .chart-area .charts .daily-breakdown-chart :hover {
      box-shadow: 0 0 5px 1px #ffb85f; }
  .chart-area .charts .daily-sentiment-chart {
    height: 600px;
    position: relative;
    width: 90vw;
    box-shadow: 0 0 5px 1px #fcf4d9;
    margin-bottom: 5vh; }
    .chart-area .charts .daily-sentiment-chart :hover {
      box-shadow: 0 0 5px 1px #ffb85f; }
  .chart-area .charts .word-count-bar-chart {
    height: 600px;
    position: relative;
    width: 90vw;
    box-shadow: 0 0 5px 1px #fcf4d9;
    margin-bottom: 5vh; }
    .chart-area .charts .word-count-bar-chart :hover {
      box-shadow: 0 0 5px 1px #ffb85f; }

.loading-icon {
  position: absolute;
  width: 35vw;
  height: 35vh;
  margin-left: 27vw;
  margin-top: 30vh; }
  @media screen and (max-width: 800px) {
    .loading-icon {
      width: 50vw;
      height: 30vh;
      margin-left: 20vw;
      margin-top: 30vh; } }

.date-select-button {
  padding-top: 40vh; }

.modal-area {
  padding: 0 0 5vh 0;
  text-align: center; }

.date-modal-button {
  cursor: pointer;
  text-align: center;
  margin: auto;
  color: #fcf4d9;
  font-family: "Poiret One", cursive;
  display: block !important; }

.date-modal-back-button {
  color: #fcf4d9;
  font-family: "Poiret One", cursive; }

.date-picker {
  text-align: center; }

.date-modal-body {
  background-color: rgba(42, 42, 43, 0.2);
  text-align: center;
  color: #fcf4d9;
  font-family: "Poiret One", cursive; }

.date-modal-header {
  background-color: rgba(42, 42, 43, 0.5); }

.date-modal-footer {
  background-color: rgba(42, 42, 43, 0.5); }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
