@import "fonts";
@import "colors";

.App {
  position: relative;
  background-color: black;
  .App-Background {
    background-color: $darkPurple;
    max-width: 100vw;
    min-height: 100vh;
    .App-Banner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.3);
      text-align: center;
      text-shadow: 0 0 5px black;
      width: 75%;
      padding: 10% 12.5% 10% 12.5%;
      h1 {
        @media screen and (max-width: 800px) {
          font-size: $headerSize * .5;
        }
        font-family: $titleFont;
        font-size: $titleSize;
        color: $darkOrange;
        padding: 0;
      }
      h2 {
        font-family: $bodyFont;
        font-size: $textSize;
        font-style: italic;
        color: $darkTeal;
      }
      .App-Buttons {
        a {
          svg {
            color: $lightTeal;

            :hover {
              color: $darkPeach;
            }
          }
        }
      }
    }

  }
}
