@import "colors";

@mixin create-button-styles-with($background-color, $background-hover, $font-color, $font-hover) {
  background-color: $background-color;
  :hover {
    background-color: $background-hover;
    color: $font-hover;
  }
  a {
    size: 5em;
    text-decoration: none;
    text-align: center;
    text-shadow: none;
    color: $font-color;
  }
}

.home-button {
  @include create-button-styles-with($darkPurple, $darkOrange, $lightTeal, $darkPurple);
  margin-bottom: 4vh;
  .home-button-icon {
    padding-top: 5px;
  }

  .home-button-text{
    padding: 5px 5px 5px 5px;
  }
}