$darkPurple: rgb(70, 32, 102);
$darkOrange: rgb(255, 184, 95);
$darkPink: rgb(255, 64, 129);
$babyBlue: rgb(0, 188, 212);
$lightTeal: rgb(142, 210, 201);
$lightCream: rgb(252, 244, 217);

$chartBackgroundColor: #2a2a2b;

$positiveDark: #458B00;
$positiveLight: #7FFF00;
$negativeDark: #A02422;
$negativeLight: #FF4040;