@import "colors";
@import "fonts";

$chartBackgroundColor: #2a2a2b;

// TODO: add media queries for mobile
.chart-area {
  min-height: 100vh;
  background-color: $chartBackgroundColor;
  padding: 1vh 1.5vw 5vh 1.5vw;
  .chart-area-title {
    color: $darkOrange;
    font-family: $headerFont;
    font-size: $headerSize;
    text-align: center;
    padding: 2.5vh 0 2.5vh 0;
  }
  .daily-breakdown-chart {
    width: 50vw;
    position: absolute;
    background-color: $chartBackgroundColor;
    box-shadow: 0 0 5px 1px $lightCream;
    :hover {
      box-shadow: 0 0 5px 1px $darkOrange;
    }
    @media screen and (max-width: 800px) {
      width: 97vw;
      position: relative;
    }
  }
  .side-charts {
    position: relative;
    float: right;
    background-color: $chartBackgroundColor;
    .daily-scatter-chart {
      width: 45vw;
      box-shadow: 0 0 5px 1px $lightCream;
      :hover {
        box-shadow: 0 0 5px 1px $darkOrange;
      }
      @media screen and (max-width: 800px) {
        width: 100vw;
      }
    }
    .daily-sentiment-chart {
      width: 45vw;
      margin-bottom: 2vh;
      box-shadow: 0 0 5px 1px $lightCream;
      :hover {
        box-shadow: 0 0 5px 1px $darkOrange;
      }
      @media screen and (max-width: 800px) {
        width: 100vw;
      }
    }
  }

}

