@import "colors";
@import "fonts";

.modal-area {
  padding: 0 0 5vh 0;
  text-align: center;
  font-family: $bodyFont !important;
}

.date-modal-button {
  position: absolute;
  cursor: pointer;
  text-align: center;
  font-family: $headerFont !important;
  display: block !important;
  margin-top: 30vh;
  @media screen and (max-width: 500px) {
    margin-top:25vh;
  } 
  margin-left: 5vw;
  margin-right: auto;
  width: 80vw;
  max-width: 90vw;
}

.date-modal-back-button {
  color: $lightCream;
  font-family: $headerFont;
}

.date-picker {
  text-align: left;
}

.date-modal-body {
  background-color: rgba($chartBackgroundColor, .2) !important;
  text-align: center;
  color: $lightCream;
  font-family: $headerFont;
}

.date-modal-header {
  background-color: rgba($chartBackgroundColor, .5);
}

.date-modal-footer {
  background-color: rgba($chartBackgroundColor, .5);
}