@import url('https://fonts.googleapis.com/css?family=Poiret+One|Righteous|Open+Sans+Condensed:300');

$titleFont: 'Righteous', cursive;
$headerFont: 'Poiret One', cursive;
$bodyFont: 'Open Sans Condensed', sans-serif;

$titleSize: 4em;
$headerSize: 3.5em;
$textSize: 1.5em;